#logo {
    height: 100px;
    width: auto;
}
body {
background:#afccde80;
}

/* header */
#header a {
    font-size: 24px;
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: bold;
    color:#1e7a94;
}
#header {
    background: #000000d8;
    width: 100%;
    z-index: 10;
}
#header a:hover{
    color:#aaddec;
}
.ourmenu {
    margin-left: 15%;
}
/* Home page text */
#RVADescription{
    top: 50px;
    font-size: 24px;
    color: rgb(41, 67, 68);
    padding: 1%;
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: bold;
    border-radius: 15px;
}
.pickedWord{
    color: black;
}
#gatheRVA{
    font-size: 30px;
    color: black;
}
/* wether widget */
#weather{
    position: fixed;
    right: 30px;
    top: 260px;    
}
/*styled cards (event divs)*/
.myCard {
    border-radius: 10px;
    background: rgb(207, 233, 235);
}
.myCardImg {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.myDropDown {
    background: #a19999;
    width: 600px;
    border-radius: 15px;
}

/* "Create Your Own Event" page style */
#myForm {
    background: #9c9c9ce7;
    border-radius:25px;
    border: solid 2px rgb(49, 47, 47);
    font-weight: bold;
}
input, select, textarea {
    font-weight: bold;
    border-radius: 30px;
    font-family: 'Gloria Hallelujah', cursive;
}
#add-event-btn {
    background: rgba(255, 255, 255, 0);
    border-radius: 10px;
    background: #27787a;
}
/* Modal */
#mymodal {
    width: 400px;
    font-size: 24px;
}

/* This plays the video over the background of the entire page */
video#gatherRVAVid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    /* background: url(polina.jpg) no-repeat; */
    /* background-size: cover;  */
    opacity: .25;
}

/* Media Queries */
@media screen and (max-width: 1240px){
    .ourmenu{
        margin-left:10%;
    }
    .myDropDown {
        width: 600px;
    }
}
@media screen and (max-width: 1090px){
    .ourmenu{
        margin-left:5%;
    }
    .myDropDown {
        width: 500px;
    }
}
@media screen and (max-width: 1025px){
    .ourmenu{
        margin-left:0;
    }
    .myDropDown {
        width: 400px;
    }
}

