#logo {
    height: 100px;
    width: auto;
}
body {
background:#afccde80;
}

/* header */
#header a {
    font-size: 24px;
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: bold;
    color:#1e7a94;
}
#header {
    background: #92919159;
    position: fixed;
    width: 100%;
    z-index: 10;
}
#header a:hover{
    color:#103f4d;
}
.ourmenu {
    margin-left: 15%;
}
/* search input */
#inputSelector{
        color:#1e7a94;
        font-weight: bold;
        border-radius: 25px;
        font-family: 'Gloria Hallelujah', cursive;

}
#mainButton {
    background: rgba(255, 255, 255, 0);
    border-radius: 100px;
    background: #27787a;
}

/*styled cards (event divs)*/
.myCard {
    border-radius: 10px;
    background: rgba(180, 109, 174, 0.445);
    border: solid 2px rgba(0, 0, 0, 0.295);
    /* z-index: -10; */
}
.myCardImg {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.myDropDown {
    background: #808080;
    width: 900px;
    border-radius: 15px;
}

/* "Create Your Own Event" page style */
#myForm {
    background: #ffffff8e;
    border-radius:25px;
    border: solid 4px #b46dae50;
}
/* Modal */
#mymodal {
    width: 400px;
    font-size: 24px;
}
/* This plays the video only behind the logo on all of the other pages */
video#gatherRVAVid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-118.3%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
    opacity: .25;
}
/* This plays the video over the background of the entire home page */
video#gatherRVAVidHome { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    /* background: url(polina.jpg) no-repeat; */
    /* background-size: cover;  */
    opacity: .25;
}

/* Media Queries */
@media screen and (max-width: 1240px){
    .ourmenu{
        margin-left:10%;
    }
}
@media screen and (max-width: 1090px){
    .ourmenu{
        margin-left:5%;
    }
}
@media screen and (max-width: 1025px){
    .ourmenu{
        margin-left:0;
    }
}

